@model Guid
<meta http-equiv="refresh" content="5;url=https://localhost:7085/" />
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Thank You!</h1>
        <img src="~/images/info.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Informations has been applied successfully! <br />
    </div>
</div> 
