 <h class="hiddenTransition" style="font-size: xx-large">About us</h> 
<section id="AboutUsSection">

    <p class="hiddenTransition">
        <b>What is Fresh 24/7 ?</b> <br/>
        Fresh is a company placed in XXX. Our goal is to create a more environmentally friendly world where food wastage is no longer an issue in our modern society.
        Thus, we are willing to support food businesses that want to increase their profit and decrease food wastage. We also help to promote small new businesses that struggle to attract new customers.
        To achieve this goal, Fresh allows you to post your surplus food products online for reservation.
        We also support buyers who want to get food for a decent price.
    </p>
    
   
    <p class="hiddenTransition"> <b>What do we do?</b> <br/>
        Our website is developed for both businesses and ordinary customers.
        As a business owner, you can use our platform to post surplus food products for reservation.
        You can specify the pick-up time that can be seen by the future customer.
        As a customer, you will be able to see all the available offers for reservation.
        You will also be given an opportunity to rate the business to inform future customers about the quality of the business.
    </p>
    <img src="~/images/logo2-247Fresh.png" alt="logo" class="hiddenFade"/>
       


</section>
    


 