@using Fresh724.Entity.Entities
@model Fresh724.Entity.Entities.Category
@{
    ViewData["Title"] = "Add";
}
<form method="post" asp-action="Add" enctype="multipart/form-data">
	<input asp-for="Id" hidden />
		<br/>
		<div class="container">
			<div class="card">
				<div class="card-header bg-dark text-light ml-0">
					<div class="container row">
						<div class="col-12 d-none d-md-block col-md-6 pb-1">
							<i class="material-icons">&#xE147;</i> &nbsp; Add Category
						</div>
						<div class="col-12 col-md-4 offset-md-2 text-right">
							<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Category List</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="container rounded p-2">
						<div class="row">
							<div class="col-12 col-lg-6 pb-4">
								<div class="row">
									<h4 class="d-flex justify-content-between align-items-center mb-3">
										<span class="text-primary">Category Details:</span>
									</h4>
								</div>
								<div class="mb-3">
									<div class="col-4">Name</div>
									<div class="col-10">
										<input asp-for="Name" class="form-control"/>
										<span asp-validation-for="Name" class="text-danger"></span>
									</div>
								</div>
								<div class="mb-3">
									<div class="col-4">CreatedDateTime</div>
									<div class="col-10">
										<input asp-for="CreatedDateTime" type="text" class="form-control"/>
										<span asp-validation-for="CreatedDateTime" class="text-danger"></span>
									</div>
								</div>
								<div class="mb-3">
									<div class="col-4">CreatedBy</div>
									<div class="col-10">
										<input asp-for="CreatedBy" type="text" class="form-control"/>
										<span asp-validation-for="CreatedBy" class="text-danger"></span>
									</div>
								</div>
								<div class="mb-3">
									<div class="col-4">UploadImageUrl</div>
									<div class="col-10">
										<input type="file" id="uploadBox" name="file" class="form-control"/>
									</div>
								</div>
								<div class="mb-3">
								</div>
								  <div class="mb-3">
									<label asp-for="Status" class="control-label" ></label>
									@Html.DropDownListFor(m => m.Status, 
										      new SelectList(Enum.GetValues(typeof(Category.Status2))), 
										      "Select Status")
									<span asp-validation-for="Status" class="text-danger"></span>
									</div>
								
								<input type="submit" asp-action="Add" class="btn btn-primary form-control my-1" value="Add"/>

							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</form>
 
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
