@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Fresh724.Entity.Entities.AddressUser

<form method="post" asp-action="Add" enctype="multipart/form-data">
 	<input asp-for="Id" hidden />
 	
 		<div class="container">
    			<div class="card">
    				<div class="card-header bg-dark text-light ml-0">
    					<div class="container row">
    						<div class="col-12 d-none d-md-block col-md-6 pb-1">
    							<i class="material-icons">&#xE147;</i> &nbsp; Add Address
    						</div>
    						<div class="col-12 col-md-4 offset-md-2 text-right">
    							<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Address List</a>
    						</div>
    					</div>
    				</div>
    				<div class="card-body">
    					<div class="container rounded p-2">
    						<div class="row">
    							<div class="col-12 col-lg-6 pb-4">
    								<div class="row">
    									<h4 class="d-flex justify-content-between align-items-center mb-3">
    										<span class="text-primary">Address Details:</span>
    									</h4>
    								</div>
	            <div class="mb-3">
		            <label asp-for="Country"></label>
		            <select asp-for="Country" class=form-select>
			            <option value="Norway">Norway</option>
		            </select>
		            <span asp-validation-for="State" class="text-danger"></span>
	            </div>      
	            
	     <div class="mb-3">
		     <label asp-for="State" ></label>
		     <select asp-for="State" id="StateID" class=form-select>
			     <option disabled selected>-Select State-</option>
		     </select>
		     <span asp-validation-for="State" class="text-danger"></span>
		     </div>        
		 <div class="mb-3">
			 <label asp-for="City"></label>
			 <select asp-for="City" id="CityID" class=form-select>
				 <option disabled selected>-Select City-</option>
				 </select>
			 <span asp-validation-for="City" class="text-danger"></span>
		 </div>
	            <div class="mb-3">
		            <label asp-for="ZipCode"></label>
		            <input asp-for="ZipCode" class="form-control" />
		            <span asp-validation-for="ZipCode" class="text-danger"></span>
	            </div>
	            
	              <div class="mb-3">
		              <label asp-for="Street1"></label>
		              <input asp-for="Street1" class="form-control" />
		              <span asp-validation-for="Street1" class="text-danger"></span>
		              </div>
	            <div class="mb-3">
		            <label asp-for="Street2"></label>
		            <input asp-for="Street2" class="form-control" />
		            <span asp-validation-for="Street2" class="text-danger"></span>
		            </div>

	                                <input type="submit" asp-action="Add" class="btn btn-primary form-control my-1" value="Add"/>

							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</form>
 
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
 